.item {
  cursor: pointer;
  opacity: .66;
}

.item.hover,
.item.selected {
  opacity: 1;
}

.item.selected {
  font-weight: bold;
}

.icon {
  composes: item;
}

.desc {
  composes: item;
}

.annotations {
  color: blue;
}
